.seccionImagen{
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
}
.seccionImagen__img{
    margin: 10px;
}
.seccionImagen__img:first-child{
    width: 350px;
    border-radius:5rem 0 5rem 0;
    height: 350px;
    margin-bottom: 0;
    z-index: 10;
    border-bottom: 15px solid #fff;
    border-right: 15px solid #fff;
}
.seccionImagen__img:nth-child(2){
    width: 350px;
    height: 350px;
}
.seccionImagen-container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.seccionImagen-container-right{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    top: -100%;

}
.seccionImagen__div{
    width: 350px;
    height: 150px;
    position: relative;;
    background-color: #000;
    margin: 30px;
    border-radius:0 0 4rem 0;
    margin-top: -40px;  
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.seccionImagen__img:nth-child(4){
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 15px solid #fff;
    position: relative;
    top: -200px;
    margin-left: 15px;
    margin-right: 0;
}
.seccionImagen__div-2{
    position: relative;
    width: 350px;
    border-radius:0 5rem 0 5rem;
    height: 450px;
    margin-bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to top, red, blue); 
}

.line{
    width: 10px;
    height:400px;
    background-color: #000;
}