.seccionImagen{
    display: flex;
    max-width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
}
.seccionImagen__img{
    margin: 10px;
}
.seccionImagen__img:first-child{
    width: 250px;
    border-radius:5rem 0 5rem 0;
    height: 350px;
    margin-bottom: 0;
    margin-left: 50px;
    z-index: 10;
    border-bottom: 15px solid #efefef;
    border-right: 15px solid #efefef;
}
.seccionImagen__img:nth-child(2){
    width: 250px;
    height: 350px;
    border-radius:0 4rem  0 0;
}
.seccionImagen-container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.seccionImagen-container-right{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    top: -100%;

}
.seccionImagen__div{
    width: 250px;
    height: 150px;
    position: relative;;
    background-color: #000;
    margin: 20px 10px  0  10px;
    margin-top: 0;
    border-radius:0 0 4rem 0;
    top: -10%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;      
    margin-left: 50px;  
}
.seccionImagen__img-r{
    width: 230px;
    height: 170px;
    border-radius: 50%;
    border: 15px solid #efefef;
    position: relative;
    top: -120px;
    margin-left: 20px;
    margin-right: 0;
    z-index: 1;
    border-bottom: none;
}
.seccionImagen__div-2{
    position: relative;
    width: 250px;
    border-radius:0 5rem 0 5rem;
    height: 450px;
    margin-bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to top, red, blue); 
    margin-left: 40px;
    top: -8%;
}
.container-right-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.line{
    width: 1px;
    height:280px;
    background-color: #000;
    position: relative;
    top: -60%;
    left: 10px;
}
.right-text{
    position: relative;
    top: -60%;
}